<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<input #inp (input)="filterProduct(inp.value)" type="text">
<div class="col-md-9">
    <app-product-list [products]="products"
    class="row"
    (addToBasket) ="onAddProductToBasket($event)"></app-product-list>            
</div> 
<div class="col-md-3">
  <div *ngFor="let item of basket">
      <p>{{item.title}} - {{item.price}}</p>      
  </div>
</div>
    

